<template>
  <apexchart height="150%" :options="options" :series="series"> </apexchart>
</template>

<script>
import { computed, ref, watch } from "vue";
import ApexCharts from "apexcharts";
import { useStore } from 'vuex';
export default {
  name: "OnlineNewsBar",
  setup() {
    const store = useStore();    
    const options = ref({
      chart: {
        id: "online-news-bar",
        type: "bar",
      },
      xaxis: {
        categories: [],
      },
      colors: ["#F46865"],
    });

    const series = ref([
      {
        name: "Jumlah",
        data: [],
      },
    ]);

    const dummy = ref({
      name: [],
      data: [],
    });

    const statement = computed(() => store.state.tokoh.statementTokoh);

    watch(statement, () => {
      updateChart();
    });

    const updateChart = () => {
      dummy.value.name = statement.value.map((item) => {
        const d = new Date(item.tanggal);
        const tanggal =
          d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
        return tanggal;
      });
      dummy.value.data = statement.value.map((item) => {
        return item.counts;
      });

      ApexCharts.exec(
        "online-news-bar",
        "updateSeries",
        [
          {
            data: Object.values(dummy.value.data),
          },
        ],
        true
      );
      ApexCharts.exec("online-news-bar", "updateOptions", {
        xaxis: {
          categories: Object.values(dummy.value.name),
        },
      });
    };
    return {
      options,
      series,
    };
  },
};
</script>
