<template>
  <div class="row d-flex align-items-center">
    <div class="col-12">
      <apexchart
        id="news-sentiment-chart-donut"
        type="donut"
        width="100%"
        :options="options"
        :series="series"
      >
      </apexchart>
    </div>
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";
export default {
  name: "NewsSentimentDonut",
  setup() {
    const store = useStore();
    const options = ref({
      dataLabels: {
        enabled: true,
      },
      chart: {
        id: "news-sentiment-chart-donut",
      },
      legend: {
        position: "bottom",
        horizontalAlign: "center",
      },
      responsive: [
        {
          // breakpoint: 480,
          options: {
            legend: {
              show: false,
            },
          },
        },
      ],
      plotOptions: {
        pie: {
          donut: {
            size: "65%",
            background: "transparent",
            labels: {
              show: true,
              name: {
                show: true,
                fontSize: "29px",
                fontFamily: "Nunito, sans-serif",
                color: undefined,
                offsetY: -10,
              },
              value: {
                show: true,
                fontSize: "26px",
                fontFamily: "Nunito, sans-serif",
                color: "20",
                offsetY: 16,
              },
              total: {
                show: true,
                label: "Total",
                color: "#888ea8",
              },
            },
          },
        },
      },
      colors: ["#F46865", "#B473FC", "#63E394"],
      labels: ["Positif", "Negatif", "Netral"],
    });
    const series = ref([]);

    const sentiment = computed(() => store.state.tokoh.sentimentTokoh);

    const total = ref({
      positif: 0,
      netral: 0,
      negatif: 0,
    });

    watch(sentiment, () => {
      sentiment.value.map((item) => {
        total.value.positif += item.positif;
        total.value.netral += item.netral;
        total.value.negatif += item.negatif;
      });

      updateChart();
    });

    const updateChart = () => {
      series.value = Object.values(total.value);
    };

    return {
      options,
      series,
    };
  },
};
</script>
