<template>
  <apexchart
    id="news-sentiment-chart-line"
    type="line"
    height="100%"
    :options="options"
    :series="series"
  >
  </apexchart>
</template>

<script>
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";
import ApexCharts from "apexcharts";
export default {
  name: "NewsSentimentLine",
  setup() {
    const store = useStore();
    const options = ref({
      chart: {
        id: "news-sentiment-chart-line",
      },
      xaxis: {
        categories: [],
      },
      colors: ["#F46865", "#B473FC", "#63E394"],
    });

    const series = ref([
      {
        name: "Positif",
        data: [],
      },
      {
        name: "Netral",
        data: [],
      },
      {
        name: "Negatif",
        data: [],
      },
    ]);

    const dummy = ref({
      name: [],
      data: {
        positif: [],
        negatif: [],
        netral: [],
      },
    });

    const sentiment = computed(() => store.state.tokoh.sentimentTokoh);

    watch(sentiment, () => {
      updateChart();
    });

    const updateChart = () => {
      dummy.value.name = sentiment.value.map((item) => {
        const d = new Date(item.tanggal);
        const tanggal =
          d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
        return tanggal;
      });
      dummy.value.data.positif = sentiment.value.map((item) => {
        return item.positif;
      });
      dummy.value.data.negatif = sentiment.value.map((item) => {
        return item.negatif;
      });
      dummy.value.data.netral = sentiment.value.map((item) => {
        return item.netral;
      });

      ApexCharts.exec(
        "news-sentiment-chart-line",
        "updateSeries",
        [
          {
            data: Object.values(dummy.value.data.positif),
          },
          {
            data: Object.values(dummy.value.data.netral),
          },
          {
            data: Object.values(dummy.value.data.negatif),
          },
        ],
        true
      );
      ApexCharts.exec("news-sentiment-chart-line", "updateOptions", {
        xaxis: {
          categories: Object.values(dummy.value.name),
        },
      });
    };
    return {
      options,
      series,
      dummy,
    };
  },
};
</script>
