<template>
  <div id="pemberitaan-tokoh">
    <div class="container-fluid px-5 py-5">
      <div class="row mb-5">
        <div
          class="
            col-lg-12
            text-start
            d-flex
            justify-content-between
            aling-items-center
          "
        >
          <h4 class="fw-bold">
            <a @click="$router.go(-1)" :class="['blue-color pointer']">
              <i class="fa fa-arrow-left me-3"></i>
            </a>
            Sentiment Tokoh Di Media Online
          </h4>
          <div class="d-flex justify-content-between aling-items-center">
            <div>
              <button
                class="btn btn-sm btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#chart1-model"
              >
                Pilih Params
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <template v-if="data">
            <div class="row ms-1">
              <template v-for="(item, i) in newData" :key="i">
                <div class="col-3 mb-5">
                  <div class="col-12">
                    <p class="nama-tokoh mb-0 text-start text-truncate">
                      {{ i + 1 }}. {{ item.tokoh }}
                    </p>
                  </div>
                  <div class="col-12 d-flex justify-content-start">
                    <apexchart
                      id="vuechart-sentiment"
                      width="270"
                      type="donut"
                      :options="options"
                      :series="series[i]"
                    ></apexchart>
                  </div>
                </div>
              </template>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="chart1-model"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="
        modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable
      "
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pilih Parameter</h5>
          <button
            type="button"
            class="btn-close"
            id="close-modal-params1"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <template v-for="(item, i) in list" :key="i">
              <div class="col-md-6 text-start">
                <input
                  class="form-check-input"
                  type="radio"
                  name="params"
                  :checked="item == param"
                  @input="changeData(item)"
                  :value="item"
                />
                <label class="form-check-label ms-2">
                  {{ item.replaceAll("_", " ") }}
                </label>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  name: "PemberitaanTokoh",
  setup() {
    const store = useStore();
    const param = computed(() => store.state.chart3);
    const list = computed(() => store.state.listChart);
    const options = ref({
      legend: {
        show: true,
        position: "bottom",
        horizontalAlign: "center",
      },
      dataLabels: {
        enabled: true,
      },
      plotOptions: {
        grid: {
          padding: {
            left: 0,
            right: 0,
          },
        },
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: true,
                labels: ["negatif", "positif", "netral"],
              },
              value: {
                show: true,
              },
            },
          },
        },
      },
      colors: ["#F45D5F", "#63E394", "#6478D3"],
      labels: ["Negatif", "Positif", "Netral"],
    });
    const series = ref([]);
    const newData = ref([]);

    const date = computed(() => store.state.date);

    watch(date, () => {
      store.dispatch("getDasboardSentiment", { limit: 30 });
    });

    watch(param, () => {
      store.dispatch("getDasboardSentiment", { limit: 30 });
    });

    onMounted(() => {
      store.dispatch("getListChart");
      store.dispatch("getDasboardSentiment", { limit: 30 });
    });

    const data = computed(() => store.state.dashboard.dashboardSentiment);

    watch(data, () => {
      data.value.total.slice(0, 30).map((item) => {
        series.value.push(Object.values(item));
      });
      newData.value = data.value.data.slice(0, 30);

      console.log(
        newData.value
      );
    });

    const changeData = (item) => {
      store.commit("SET_CHART_3", item);
      document.getElementById("close-modal-params3").click();
    };

    return {
      data,
      options,
      series,
      newData,
      param,
      list,
      changeData,
    };
  },
};
</script>

<style scoped>
.progress {
  height: 7px;
}

p {
  font-size: 20px;
}

.pointer {
  cursor: pointer;
}

a:hover {
  color: #6478d3;
}

.card {
  border: hidden;
  border-radius: 20px;
}
</style>