<template>
  <div id="pemberitaan-tokoh">
    <div class="container-fluid px-5 py-5">
      <div class="row mb-5">
        <div
          class="
            col-lg-12
            text-start
            d-flex
            justify-content-between
            aling-items-center
          "
        >
          <h4 class="fw-bold">
            <a @click="$router.go(-1)" :class="['blue-color pointer']">
              <i class="fa fa-arrow-left me-3"></i>
            </a>
            Statement Tokoh Di Media Online
          </h4>
          <div class="d-flex justify-content-between aling-items-center">
            <div>
              <button
                class="btn btn-sm btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#chart1-model"
              >
                Pilih Params
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <apexchart
            id="chart"
            ref="chart1"
            type="bar"
            height="670"
            :options="chartOptions"
            :series="series"
          ></apexchart>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="chart1-model"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="
        modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable
      "
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pilih Parameter</h5>
          <button
            type="button"
            class="btn-close"
            id="close-modal-params1"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <template v-for="(item, i) in list" :key="i">
              <div class="col-md-6 text-start">
                <input
                  class="form-check-input"
                  type="radio"
                  name="params"
                  :checked="item == param"
                  @input="changeData(item)"
                  :value="item"
                />
                <label class="form-check-label ms-2">
                  {{ item.replaceAll("_", " ") }}
                </label>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ApexCharts from "apexcharts";
import { computed, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  name: "DetailStatement",
  setup() {
    const store = useStore();
    const param = computed(() => store.state.chart1);
    const list = computed(() => store.state.listChart);

    const series = ref([
      {
        name: "Total",
        data: [],
      },
    ]);

    const chartOptions = ref({
      chart: {
        type: "bar",
        height: 670,
        id: "chart",
      },
      plotOptions: {
        bar: {
          borderRadius: 0,
          horizontal: true,
        },
      },
      dataLabels: {
        enabled: true,
      },
      xaxis: {
        categories: [],
        title: {
          text: undefined,
          offsetX: 0,
          offsetY: 0,
          style: {
            color: undefined,
            fontSize: "30px",
            fontFamily: "Helvetica, Arial, sans-serif",
            fontWeight: 600,
            cssClass: "apexcharts-xaxis-title",
          },
        },
      },
    });

    const date = computed(() => store.state.date);

    watch(date, () => {
      store.dispatch("getDasboardStatement", { limit: 30 });
    });

    watch(param, () => {
      store.dispatch("getDasboardStatement", { limit: 30 });
    });

    onMounted(() => {
      store.dispatch("getListChart");
      store.dispatch("getDasboardStatement", { limit: 30 });
    });

    const data = computed(() => store.state.dashboard.dashboardStatement);

    watch(data, () => {
      let dummy = {
        label: [],
        data: [],
      };
      data.value.slice(0, 20).map((item) => {
        dummy.label.push(item.name);
        dummy.data.push(item.data);
      });
      ApexCharts.exec(
        "chart",
        "updateSeries",
        [
          {
            data: Object.values(dummy.data),
          },
        ],
        true
      );
      ApexCharts.exec("chart", "updateOptions", {
        xaxis: {
          categories: Object.values(dummy.label),
        },
      });
    });

    const changeData = (item) => {
      store.commit("SET_CHART_1", item);
      document.getElementById("close-modal-params3").click();
    };

    return {
      series,
      chartOptions,
      list,
      param,
      changeData
    };
  },
};
</script>

<style scoped>
.card {
  border-radius: 15px;
  border: none;
}
</style>