<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h5 class="text-start fw-bold">Newspaper Statement</h5>
        <div class="col-md-8">
          <NewspaperStatementBar />
        </div>
        <div class="col-md-4 pt-5">
          <h3 class="fw-bold mt-5">Total Statement</h3>
          <h1 class="fw-bold">3291</h1>
        </div>
      </div>

      <hr class="solid my-4" />

      <div class="row">
        <h5 class="text-start fw-bold">Statement Sentiment</h5>
        <div class="col-md-8">
          <StatementSentimentLine />
        </div>
        <div class="col-md-4">
          <StatementSentimentDonut />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewspaperStatementBar from "../Grafik/NewspaperStatement/Bar";
import StatementSentimentLine from "../Grafik/NewspaperStatement/Line";
import StatementSentimentDonut from "../Grafik/NewspaperStatement/Donut";

export default {
  name: "NewspaperStatement",
  components: {
    NewspaperStatementBar,
    StatementSentimentLine,
    StatementSentimentDonut,
  },
};
</script>