<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h5 class="text-start fw-bold">Newspapper News</h5>
        <div class="col-md-8">
          <NewspaperNewsBar />
        </div>
        <div class="col-md-4 pt-5">
          <h3 class="fw-bold mt-5">Total News</h3>
          <h1 class="fw-bold">3291</h1>
        </div>
      </div>

      <hr class="solid my-4" />

      <div class="row">
        <h5 class="text-start fw-bold">News Sentiment</h5>
        <div class="col-md-8">
          <NewsSentimentLine />
        </div>
        <div class="col-md-4">
          <NewsSentimentDonut />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import NewspaperNewsBar from "../Grafik/NewspaperNews/Bar";
import NewsSentimentLine from "../Grafik/NewspaperNews/Line";
import NewsSentimentDonut from "../Grafik/NewspaperNews/Donut";

export default {
  name: "NewspaperNews",
  components: {
    NewspaperNewsBar,
    NewsSentimentLine,
    NewsSentimentDonut,
  },
};
</script>