<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h5 class="text-start fw-bold">Online Statement</h5>
        <div class="col-md-8">
          <OnlineStatementBar />
        </div>
        <div class="col-md-4 mt-3 mt-md-0 row d-flex align-items-center">
          <h3 class="fw-bold">
            Total Statement
            <br />
            <br />
            <span> {{ Intl.NumberFormat().format(totalStatement) }} </span>
          </h3>
          <!-- <h1 class="fw-bold">3291</h1> -->
        </div>
      </div>

      <hr class="solid my-4" />

      <div class="row">
        <h5 class="text-start fw-bold">Statement Sentiment</h5>
        <div class="col-md-8">
          <NewsSentimentLine />
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <NewsSentimentDonut />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OnlineStatementBar from "@/components/Grafik/OnlineStatement/Bar";
import NewsSentimentLine from "@/components/Grafik/OnlineStatement/Line";
import NewsSentimentDonut from "@/components/Grafik/OnlineStatement/Donut";
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  name: "OnilneNews",
  components: {
    OnlineStatementBar,
    NewsSentimentLine,
    NewsSentimentDonut,
  },
  setup() {
    const store = useStore();
    const statement = computed(() => store.state.tokoh.statementTokoh);

    const totalStatement = ref(0);

    watch(statement, () => {
      statement.value.map((item) => {
        totalStatement.value += item.counts;
      });
    });

    return {
      totalStatement,
    };
  },
};
</script>