<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h5 class="text-start fw-bold">Online News</h5>
        <div class="col-md-8">
          <OnlineNewsBar />
        </div>
        <div class="col-md-4 pt-lg-5 py-3">
          <h3 class="fw-bold mt-lg-5">Total News</h3>
          <h1 class="fw-bold">3291</h1>
        </div>
      </div>

      <hr class="solid my-4" />

      <div class="row">
        <h5 class="text-start fw-bold">News Sentiment</h5>
        <div class="col-md-8">
          <NewsSentimentLine />
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <NewsSentimentDonut />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import OnlineNewsBar from "../Grafik/OnlineNews/Bar";
import NewsSentimentLine from "../Grafik/OnlineNews/Line";
import NewsSentimentDonut from "../Grafik/OnlineNews/Donut";

export default {
  name: "OnilneNews",
  components: {
    OnlineNewsBar,
    NewsSentimentLine,
    NewsSentimentDonut,
  },
};
</script>