<template>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <h5 class="text-start fw-bold">Tweets</h5>
        <div class="col-md-8">
          <TweetsBar />
        </div>
        <div class="col-md-4 pt-5">
          <h3 class="fw-bold mt-5">Total Tweets</h3>
          <h1 class="fw-bold">3291</h1>
        </div>
      </div>

      <hr class="solid my-4" />

      <div class="row">
        <h5 class="text-start fw-bold">Tweets Sentiment</h5>
        <div class="col-md-8">
          <TweetsSentimentLine />
        </div>
        <div class="col-md-4">
          <TweetsSentimentDonut />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TweetsBar from "../Grafik/Tweets/Bar";
import TweetsSentimentLine from "../Grafik/Tweets/Line";
import TweetsSentimentDonut from "../Grafik/Tweets/Donut";

export default {
  name: "Tweets",
  components: {
    TweetsBar,
    TweetsSentimentLine,
    TweetsSentimentDonut,
  },
};
</script>