<template>
  <div class="card-text row d-flex align-items-center mt-3">
    <div class="col-2">
      <small class="text-muted">Joko Widodo</small>
    </div>
    <div class="col-9">
      <div class="progress mt-1">
        <div
          class="progress-bar progress-bar-animated bg-danger"
          role="progressbar"
          style="width: 12%"
          aria-valuenow="12"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-1">
      <small class="fw-bold">694</small>
    </div>
  </div>

  <div class="card-text row d-flex align-items-center mt-3">
    <div class="col-2">
      <small class="text-muted">Joko Widodo</small>
    </div>
    <div class="col-9">
      <div class="progress mt-1">
        <div
          class="progress-bar progress-bar-animated bg-danger"
          role="progressbar"
          style="width: 12%"
          aria-valuenow="12"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-1">
      <small class="fw-bold">694</small>
    </div>
  </div>
</template>

<script>
export default {
  name: "DetailGrafikOnlineNews"
}
</script>
