<template>
    <h5 class="text-start fw-bold mb-5">Total Online Statement</h5>
  <div
    class="card-text row d-flex align-items-center mb-3"
    v-for="data in tokoh"
    v-bind:key="data.id"
  >
    <div class="col-lg-3">
      <p class="text-muted text-start m-auto">{{ data.nama }}</p>
    </div>
    <div class="col-lg-8 px-auto">
      <div class="progress">
        <div
          class="progress-bar progress-bar-animated background-blue"
          role="progressbar"
          :style="{'width': data.persentase}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
    <div class="col-lg-1">
      <p class="fw-bold m-auto text-start">{{ data.jumlah }}</p>
    </div>

    <!-- <div >
    </div> -->
  </div>
</template>

<script>
export default {
  name: "PemberitaanTokoh",
  data: function () {
    return {
      tokoh: [
        {
          id: "1",
          nama: "Joko Widodo",
          jumlah: 3.921,
          persentase: '90%',
        },
        {
          id: "2",
          nama: "Anies Baswedan",
          jumlah: 1.300,
          persentase: '80%',
        },
        {
          id: "3",
          nama: "Jusuf Kalla",
          jumlah: 898,
          persentase: '20%',
        },
        {
          id: "4",
          nama: "Prabowo Subianto",
          jumlah: 694,
          persentase: '18%',
        },
        {
          id: "5",
          nama: "Susi Pudji Astuti",
          jumlah: 561,
          persentase: '15%',
        },
        {
          id: "6",
          nama: "Zulkifli Hasan",
          jumlah: 351,
          persentase: '10%',
        },
        {
          id: "7",
          nama: "Sri Mulyani",
          jumlah: 305,
          persentase: '9%',
        },
        {
          id: "8",
          nama: "Muhaimin Iskandar",
          jumlah: 266,
          persentase: '8%',
        },
        {
          id: "9",
          nama: "Ahmad Heryawan",
          jumlah: 149,
          persentase: '7%',
        },
        {
          id: "10",
          nama: "Agus Harimurti Yudhoyono",
          jumlah: 100,
          persentase: '7%',
        },
        {
          id: "11",
          nama: "Budi Gunawan",
          jumlah: 109,
          persentase: '8%',
        },
        {
          id: "12",
          nama: "Hari Tanoesudibjo",
          jumlah: 104,
          persentase: '7%',
        },
        {
          id: "13",
          nama: "Gatot Nurmantyo",
          jumlah: 91,
          persentase: '7%',
        },
        {
          id: "14",
          nama: "Hidayat Nur Wahid",
          jumlah: 80,
          persentase: '7%',
        },
        {
          id: "15",
          nama: "Mardani Ali Sera",
          jumlah: 74,
          persentase: '5%',
        },
      ],
    };
  },
  computed: {
    percentage() {
      return (this.jumlah /1000) * 100;
    }
  }
};
</script>

<style scoped>
.progress {
  height: 7px;
}

p {
  font-size: 20px;
}
</style>
