<template>
  <div class="detail-tokoh" id="DetailTokoh">
    <div class="container-fluid py-5 px-4">
      <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-between">
          <h3 class="title">
            <a @click="$router.go(-1)" :class="['blue-color pointer']">
              <i class="fa fa-arrow-left me-3"></i>
            </a>
            Topik
          </h3>
        </div>
        <div class="col-md-12 mb-4 nama-tokoh">
          <div class="section-1 card d-flex justify-content-center">
            <div class="row g-0 px-3 px-md-0">
              <!-- <div class="img-tokoh col-4 col-md-2">
                <img
                  src="../assets/images/jokowi.jpg"
                  class="img-fluid"
                  alt="..."
                />
              </div> -->
              <div class="col-12 mt-3 ps-0 ps-lg-2">
                <div class="card-body text-start">
                  <div class="card-title">
                    <div class="row">
                      <div class="col-4 col-lg-2">
                        <h4>Topik</h4>
                      </div>
                      <div class="col-1 d-flex justify-content-center">
                        <h4>:</h4>
                      </div>
                      <div class="col-5 col-lg-9">
                        <h4 class="fw-bold">{{ judul }}</h4>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="card-title">
                    <div class="row">
                      <div class="col-4 col-lg-2">
                        <h4>Total Kata</h4>
                      </div>
                      <div class="col-1 d-flex justify-content-center">
                        <h4>:</h4>
                      </div>
                      <div class="col-5 col-lg-2">
                        <h4 class="fw-bold">{{ total }}</h4>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tabs:Begin -->
        <!-- <div class="col-md-12 d-flex justify-content-evenly tab-first">
          <button
            v-for="tab in tabs"
            :key="tab.value"
            @click="selected = tab.value"
            :class="[
              'text-secondary tab-btn font-tab text-nowrap',
              { active: selected === tab.value },
            ]"
          >
            {{ tab.label }}
          </button>
        </div> -->
        <!-- Tabs:End -->

        <!-- Online News:Begin -->
        <div class="col-md-12">
          <!-- <component :is="selected"></component> -->
          <OnlineStatement />
        </div>
        <!-- Online News:End -->
      </div>
    </div>
  </div>
</template>

<script>
import OnlineStatement from "../components/Tabs/OnlineStatement.vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import { computed, onMounted, ref, watch } from "vue";
// import OnlineNews from "../components/Tabs/OnlineNews.vue";
// import NewspaperNews from "../components/Tabs/NewspaperNews.vue";
// import NewspaperStatement from "../components/Tabs/NewspaperStatement.vue";
// import Tweets from "../components/Tabs/Tweets.vue";

export default {
  name: "DetailTokoh",
  props: ["topik"],
  setup(props) {
    const store = useStore();
    const router = useRouter();

    const date = computed(() => store.state.date);
    const judul = computed(() => store.state.tokoh.judulTokoh);
    const total = computed(() => store.state.tokoh.totalTokoh);

    const form = ref({
      start: date.value.start,
      end: date.value.end,
    });

    watch(date, () => {
      form.value.start = date.value.start;
      form.value.end = date.value.end;
      getData();
    });

    onMounted(() => {
      if (props.topik) {
        if (!judul.value) {
          store.commit("SET_JUDUL_TOKOH", props.topik);
          getData();
        }
      } else {
        if (!judul.value || !total.value) {
          router.push({ name: "Topik" });
        }
      }
      getData();
    });

    const getData = () => {
      store.dispatch("getStatmentTokoh", form.value);
      store.dispatch("getSentimentTokoh", form.value);
    };

    return {
      judul,
      total,
    };
  },
  components: {
    OnlineStatement,
  },
};
</script>

<style scoped>
.detail-tokoh {
  font-family: "Poppins";
}

.card {
  border-radius: 15px;
  border: none;
}

.nama-tokoh .card {
  height: 150px;
}

.img-fluid {
  width: 153px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card .sub-title {
  font-size: 17px;
  font-weight: 500;
}

.card-footer.footer-custom {
  background: #ffff;
  height: 100px;
  border-radius: 0 0 15px 15px;
}

.tab-btn {
  padding: 6px 10px;
  background: #f4f8fc;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  outline: none;
}

.active {
  border-bottom: 3px solid #b473fc;
  font-weight: 700;
  /* background: #fcfcf; */
}

.tab {
  border: 1px solid #ccc;
  padding: 10px;
}

.font-tab {
  font-size: 20px;
}

@media (max-width: 576px) {
  .font-tab {
    font-size: 1rem;
  }
  .tab-first {
    justify-content: left !important;
    overflow-x: scroll;
  }
  .img-fluid {
    height: 120px;
  }
  .sub-title {
    font-size: 12px !important;
  }
  h4 {
    font-size: 13px !important;
  }
  .section-1 {
    height: 100px !important;
  }
  .img-tokoh {
    display: flex !important;
    align-items: center;
  }
}
</style>