<template>
  <div class="detail-isu" id="detail-isu">
    <div class="container-fluid py-5 px-4">
      <div class="row">
        <div class="col-12 mb-3 d-flex justify-content-between">
          <h3 class="title">
            <a @click="$router.go(-1)" :class="['blue-color pointer']">
              <i class="fa fa-arrow-left me-3"></i>
            </a>
            Isu
          </h3>
        </div>
        <div class="col-12">
          <div class="card ps-3">
            <div class="card-body">
              <div class="card-title text-start">
                <small class="fw-bold">{{ Isu.tema_berita }}</small>
              </div>
              <div class="card-text text-start">
                <h4>{{ Isu.judul_berita }}</h4>
                <small>{{ Isu.waktu_terbitnya_berita }}</small>
              </div>
              <hr />
              <div class="card-text text-start">
                <div class="row">
                  <div class="col-lg-2 col-2 d-flex justify-content-between">
                    <p class="fw-bold">Media</p>
                    <p class="fw-bold ps-1 ps-lg-0">:</p>
                  </div>
                  <div class="col-lg-10 ps-4 ps-md-3 col-10">
                    <a
                      :href="Isu.link_berita"
                      class="
                        badge
                        rounded-pill
                        background-blue
                        text-decoration-none
                      "
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <i class="fa fa-link"></i> {{ Isu.nama_media_online }}
                    </a>
                  </div>

                  <div class="col-lg-2 d-flex justify-content-between">
                    <p class="fw-bold">Topik</p>
                    <p class="fw-bold ps-1 ps-lg-0">:</p>
                  </div>
                  <div class="col-lg-10">{{ Isu.tokoh_berita }}</div>

                  <div class="col-lg-2 d-flex justify-content-between">
                    <p class="fw-bold">Narasumber</p>
                    <p class="fw-bold ps-1 ps-lg-0">:</p>
                  </div>
                  <div class="col-lg-10 mb-2">
                    <div class="isu-narasumber text-truncate">
                      <span
                        >- {{ Isu.narasumber_1 }} (
                        {{ Isu.jabatan_narasumber_1 }})</span
                      >
                      <span v-if="Isu.narasumber_2"> <br /> </span>
                      <span v-if="Isu.narasumber_2"
                        >- {{ Isu.narasumber_2 }} (
                        {{ Isu.jabatan_narasumber_2 }})</span
                      >
                      <span v-if="Isu.narasumber_3"> <br /> </span>
                      <span v-if="Isu.narasumber_3"
                        >- {{ Isu.narasumber_3 }} (
                        {{ Isu.jabatan_narasumber_3 }})</span
                      >
                    </div>
                  </div>

                  <div
                    class="col-lg-2 mt-3 mt-md-0 d-flex justify-content-between"
                  >
                    <p class="fw-bold">Keakuratan</p>
                    <p class="fw-bold ps-1 ps-lg-0">:</p>
                  </div>
                  <div class="col-lg-10">{{ Isu.acurate_berita }}</div>

                  <div
                    class="col-lg-2 mt-3 mt-md-0 d-flex justify-content-between"
                  >
                    <p class="fw-bold">Sentiment</p>
                    <p class="fw-bold ps-1 ps-lg-0">:</p>
                  </div>
                  <div class="col-lg-10">
                    <span class="badge rounded-pill bg-success opacity-75">{{
                      Isu.arah_pemberitaan
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted } from "vue";
import { useStore } from "vuex";
import { useRouter } from "vue-router";

export default {
  name: "Detail-Isu",
  components: {},
  setup() {
    const store = useStore();
    const router = useRouter();
    const Isu = computed(() => store.state.isu.detailIsu);

    onMounted(() => {
      if (!Isu.value) {
        router.push({ name: "Isu" });
      }
    });
    return {
      Isu,
    };
  },
};
</script>

<style scoped>
.detail-isu {
  font-family: "Poppins";
  width: 100%;
}

.card {
  border: hidden;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .card {
    height: 700px;
  }
  small {
    font-size: 13px;
  }
  .col-lg-10 {
    margin-bottom: 20px;
  }
  .fw-bold {
    margin-bottom: 0;
  }
  .d-flex {
    justify-content: start !important;
  }
}
</style>