<template>
  <div class="home">
    <div class="container-fluid py-5 px-4">
      <!-- Trending:Start -->
      <div class="row mb-5">
        <div class="col-12 mb-3">
          <h3 class="text-start title">Trending Topics</h3>
        </div>
        <!-- Item WordCloud:Start -->
        <div class="col-12 col-lg-9 mb-3 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <h6
                class="
                  card-title
                  row
                  d-flex
                  justify-content-between
                  align-items-center
                  mb-3
                "
              >
                <div class="col-8 text-start">Topik Terpopuler</div>
                <div class="col-3 d-flex justify-content-end"></div>
              </h6>
              <div class="card-text">
                <WordCloud />
              </div>
            </div>
          </div>
        </div>
        <!-- Item WordCloud:End -->

        <!-- Item Top5:Start -->
        <div class="col-lg-3 mb-lg-0 mb-3">
          <TopFive />
        </div>
        <!-- Item Top5:End -->
      </div>
      <!-- Trending:End -->

      <!-- Online News:Start -->
      <div class="row mb-5">
        <div class="col-lg-12 col-sm-12 mb-3">
          <h3 class="text-start title">Online News</h3>
        </div>
        <!-- Item Statement Tokoh:Start -->
        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-3">
          <StatementTokoh />
        </div>
        <!-- Item Statement Tokoh:End -->

        <!-- Item Pemberitaan Tokoh:Start -->
        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-3">
          <PemberitaanTokoh />
        </div>
        <!-- Item Pemberitaan Tokoh:End -->

        <!-- Item Sentiment Tokoh:Start -->
        <div class="col-lg-4 col-sm-6 mb-lg-0 mb-3">
          <SentimentTokoh />
        </div>
        <!-- Item Sentiment Tokoh:End -->

        <!-- Item Isu Media Online:Start -->
        <div class="col-12 mt-3">
          <Isu />
        </div>
        <!-- Item Isu Media Online:End -->
      </div>
      <!-- Online News:End -->

      <!-- Twitter:Start -->
      <div class="row mb-5">
        <div class="col-12 mb-3">
          <h3 class="text-start title">Twitter</h3>
        </div>
        <!-- Item WordCloud:Start -->
        <div class="col-12 col-lg-9 mb-3 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <h6
                class="
                  card-title
                  row
                  d-flex
                  justify-content-between
                  align-items-center
                  mb-3
                "
              >
                <div class="col-8 text-start">Tweet Terpopuler</div>
                <div class="col-3 d-flex justify-content-end"></div>
              </h6>
              <div class="card-text">
                <WordclodTwitter />
              </div>
            </div>
          </div>
        </div>
        <!-- Item WordCloud:End -->

        <!-- Item Top5:Start -->
        <div class="col-lg-3 mb-lg-0 mb-3">
          <TopFiveTwitter />
        </div>
        <!-- Item Top5:End -->
      </div>
      <!-- Twitter:End -->
    </div>
  </div>
</template>

<script>
import WordCloud from "../components/Trending/WordCloud.vue";
import TopFive from "../components/Trending/TopFive.vue";
import StatementTokoh from "../components/OnlineNews/StatementTokoh.vue";
import PemberitaanTokoh from "../components/OnlineNews/PemberitaanTokoh.vue";
import Isu from "../components/OnlineNews/Isu.vue";
import WordclodTwitter from "../components/Twitter/Wordcloud.vue";
import TopFiveTwitter from "../components/Twitter/TopFive.vue";
import SentimentTokoh from "../components/OnlineNews/SentimentTokoh.vue";
import { useStore } from "vuex";
import { computed, onMounted, ref, watch } from "@vue/runtime-core";

export default {
  name: "Home",
  components: {
    WordCloud,
    TopFive,
    StatementTokoh,
    PemberitaanTokoh,
    Isu,
    WordclodTwitter,
    TopFiveTwitter,
    SentimentTokoh,
  },
  setup() {
    const store = useStore();

    const date = computed(() => store.state.date);

    const form = ref({
      limit: 5,
    });

    const mediaFile = computed(() => store.state.mediaFile);

    watch(date, () => {
      store.dispatch("getDasboardStatement", form.value);
      store.dispatch("getDasboardSentiment", form.value);
      store.dispatch("getDasboardPemberitaan", form.value);
    });

    watch(mediaFile, () => {
      store.dispatch("getDasboardStatement", form.value);
      store.dispatch("getDasboardSentiment", form.value);
      store.dispatch("getDasboardPemberitaan", form.value);
    });

    onMounted(() => {
      store.dispatch("getDasboardStatement", form.value);
      store.dispatch("getDasboardSentiment", form.value);
      store.dispatch("getDasboardPemberitaan", form.value);
      store.dispatch("getListChart");
      store.dispatch("getListMediaFile");
    });
  },
};
</script>

<style scoped>
.home {
  font-family: "Poppins";
  width: 100%;
}

.card {
  border: hidden;
  border-radius: 20px;
}

.nama-tokoh {
  font-size: 20px;
  font-weight: 500;
}

.arrow-right {
  text-decoration: none;
  color: rgb(179, 102, 255);
}

.progress {
  height: 4px;
}

small {
  font-size: 13px;
}

.sentiment {
  border-radius: 20px;
  width: 95%;
  height: 185px;
  background: #ddf2ff;
}

.btn-sentiment-left {
  float: left;
  top: 35%;
  left: 1%;
  padding-right: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: white 3px;
  border-style: solid;
  box-shadow: 0 5px 5px grey;
}

.btn-sentiment-right {
  float: right;
  top: 35%;
  right: 1%;
  padding-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: white 3px;
  border-style: solid;
  box-shadow: 0 5px 5px grey;
}

.btn-sentiment i {
  -webkit-text-stroke: 0.1px;
}

.nama-isu {
  background-color: #ddf2fe;
  border-radius: 10px;
}

.nama-isu span {
  width: 30px;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
  }
  .subtitle {
    font-size: 10px;
  }
  .nama-tokoh {
    font-size: 13px;
  }
  .nama-isu {
    font-size: 13px;
  }
  .nama-isu span {
    padding-inline: 5px !important;
  }
  .btn-sentiment-left {
    left: -8%;
  }
  .btn-sentiment-right {
    right: -8%;
  }
}
</style>