<template>
  <div class="tokoh">
    <div class="container-fluid py-5 px-4">
      <div class="row mb-md-0 mb-3 d-flex justify-content-between">
        <div class="col-lg-3 col-12 mb-2">
          <h3 class="title text-start">Orientasi Isu</h3>
        </div>
        <div class="col-lg-8 col-12">
          <div class="row d-flex justify-content-end">
            <div class="col-lg-3 col-12 mb-lg-0 mb-2">
              <form class="d-flex">
                <input
                  @keyup="searchItems"
                  @click="searchItems"
                  id="search-items"
                  v-model="search"
                  class="form-control form-search border-0 me-2"
                  type="search"
                  placeholder="Cari Isu"
                  aria-label="Search"
                />
                <!-- <button class="btn" type="submit">
                  <i class="fa fa-lg fa-search"></i>
                </button> -->
              </form>
            </div>
            <div class="col-lg-3 col-6">
              <select
                @input="newData"
                v-model="tema"
                class="form-select"
                aria-label="Default select example"
              >
                <option selected value="">-- Tema --</option>
                <option v-for="(item, index) in listTema" :key="index">
                  {{ item[0] }}
                </option>
              </select>
            </div>
            <div class="col-lg-3 col-6">
              <select
                @input="newData"
                class="form-select"
                aria-label="Default select example"
                v-model="narasumber"
              >
                <option selected value="">-- Narasumber --</option>
                <template v-if="listNarasumber">
                  <template
                    v-for="(itemNarasumber, index) in listNarasumber"
                    :key="index"
                  >
                    <option v-if="itemNarasumber.narasumber_1">
                      {{ itemNarasumber.narasumber_1 }}
                    </option>
                    <option v-if="itemNarasumber.narasumber_2">
                      {{ itemNarasumber.narasumber_2 }}
                    </option>
                    <option v-if="itemNarasumber.narasumber_3">
                      {{ itemNarasumber.narasumber_3 }}
                    </option>
                  </template>
                </template>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Daftar Isu:Start -->
        <div class="col-12" v-for="Isu in daftarIsu" v-bind:key="Isu.id">
          <router-link to="/isu/detail-isu" class="router">
            <div class="card mb-3 shadow" @click="setDetail(Isu)">
              <div class="row g-0 px-lg-1">
                <div class="col-lg-11 col-10 ps-lg-4 d-flex align-items-center">
                  <div class="card-body text-start">
                    <div class="card-title">
                      <small>{{ Isu.tema_berita }}</small>
                    </div>
                    <div class="card-text">
                      <h5
                        class="judul-isu fw-bold mt-md-2 mt-auto text-truncate"
                      >
                        {{ Isu.judul_berita }}
                      </h5>
                      <small class="fw-bolder">Narasumber : </small>
                      <span v-if="Isu.narasumber_1">{{
                        Isu.narasumber_1
                      }}</span>
                      <span v-if="Isu.narasumber_2"
                        >, {{ Isu.narasumber_2 }}</span
                      >
                      <span v-if="Isu.narasumber_3"
                        >, {{ Isu.narasumber_3 }}</span
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="
                    col-lg-1 col-2
                    d-flex
                    align-items-center
                    justify-content-center
                  "
                >
                  <i class="fa fa-2x fa-chevron-right purple-color"></i>
                </div>
              </div>
            </div>
          </router-link>
        </div>
        <!-- Daftar Isu:End -->
      </div>
      <div class="row d-flex justify-content-center">
        <paginate
          :total-data="totalPage"
          @set-rows="getRows"
          :current-row="form.page"
        />
      </div>
    </div>
  </div>
  <router-view />
</template>

<script>
import { computed, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import Paginate from "@/components/Paginate.vue";

export default {
  name: "Isu",
  components: { Paginate },
  setup() {
    const store = useStore();
    const daftarIsu = computed(() => store.state.isu.daftarIsu);
    const listTema = computed(() => store.state.isu.daftarTema);
    const listNarasumber = computed(() => store.state.isu.daftarNarasumber);
    const tema = ref("");
    const narasumber = ref("");

    const date = computed(() => store.state.date);
    const totalPage = computed(() => store.state.isu.totalPage);

    const form = ref({
      page: 1,
      tema: "",
      narsum: "",
      start: date.value.start,
      end: date.value.end,
    });

    watch(date, () => {
      console.log("berubah");
      store.dispatch("getDaftarIsu", form.value);
    });

    onMounted(() => {
      if (!date.value) {
        store.dispatch("getDaftarIsu");
      } else {
        store.dispatch("getDaftarIsu", form.value);
      }
      store.dispatch("getDaftarTema");
      store.dispatch("getDaftarNarasumber", "");
    });

    watch(
      () => tema.value,
      () => {
        store.dispatch("getDaftarNarasumber", tema.value);
      }
    );

    // fitur search
    const initData = ref([]);

    watch(daftarIsu, () => {
      initData.value.splice(0, daftarIsu.value.length, ...daftarIsu.value);
      document.getElementById("search-items").click();
    });

    const searchItems = () => {
      daftarIsu.value.splice(0, daftarIsu.value.length, ...initData.value);
      setTimeout(() => {
        if (
          search.value !== "" ||
          tema.value !== "" ||
          narasumber.value !== ""
        ) {
          let results = [];
          for (let j = 0; j < daftarIsu.value.length; j++) {
            if (
              searchingFunc(
                daftarIsu.value[j],
                search.value,
                tema.value,
                narasumber.value
              )
            ) {
              results.push(daftarIsu.value[j]);
            }
          }
          daftarIsu.value.splice(0, daftarIsu.value.length, ...results);
        }
      }, 300);
    };

    const searchingFunc = (obj, value, tema, narasumber) => {
      for (let key in obj) {
        if (key !== "id") {
          if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
            if (
              ((value &&
                key != "tema_berita" &&
                key != "narasumber_1" &&
                key != "narasumber_2" &&
                key != "narasumber_3" &&
                obj[key].toLowerCase().indexOf(value.toLowerCase()) != -1) ||
                !value) &&
              ((tema &&
                obj["tema_berita"].toLowerCase().indexOf(tema.toLowerCase()) !=
                  -1) ||
                !tema) &&
              ((narasumber &&
                (obj["narasumber_1"]
                  .toLowerCase()
                  .indexOf(narasumber.toLowerCase()) != -1 ||
                  (obj["narasumber_2"] &&
                    obj["narasumber_2"]
                      .toLowerCase()
                      .indexOf(narasumber.toLowerCase()) != -1) ||
                  (obj["narasumber_3"] &&
                    obj["narasumber_3"]
                      .toLowerCase()
                      .indexOf(narasumber.toLowerCase()) != -1))) ||
                !narasumber)
            ) {
              return true;
            }
          }
        }
      }

      return false;
    };

    const getRows = (val) => {
      form.value.page = val;
      store.dispatch("getDaftarIsu", form.value).then(() => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    };

    const setDetail = (data) => {
      const d = new Date(data.waktu_terbitnya_berita);
      data.waktu_terbitnya_berita =
        d.getDate() + "/" + (d.getMonth() + 1) + "/" + d.getFullYear();
      store.commit("SET_DETAIL_ISU", data);
    };

    const newData = () => {
      setTimeout(() => {
        form.value.tema = tema.value;
        form.value.narsum = narasumber.value;
        store.dispatch("getDaftarIsu", form.value);
      }, 100);
    };

    const search = ref("");
    return {
      daftarIsu,
      searchItems,
      search,
      tema,
      listTema,
      narasumber,
      listNarasumber,
      totalPage,
      form,
      getRows,
      setDetail,
      newData,
    };
  },
};
</script>

<style scoped>
.tokoh {
  font-family: "Poppins";
}

.card {
  border-radius: 15px;
  border: none;
}

.img-tokoh {
  object-fit: cover;
  min-width: 140px;
  max-width: 140px;
  height: 165px;
  border-radius: 10px;
}

.box-number {
  margin: 0 10px 0 10px;
  border: rgb(179, 102, 255);
  border-style: solid;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-number-active {
  background: rgb(179, 102, 255);
  color: white;
}

.box-number p {
  margin: auto;
  font-weight: 600;
}

form .form-search {
  background: #ffffff !important;
}

.page-link {
  cursor: pointer;
}

.page-item.disabled .page-link {
  background-color: lightgrey !important;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
    font-weight: 500 !important;
  }
  h5 {
    font-size: 14px;
  }
  option {
    font-size: 11px;
  }
  select {
    font-size: 11px;
  }
  .img-tokoh {
    min-width: 80px;
    max-width: 80px;
    height: 110px;
  }
  i {
    font-size: 1em;
  }
  .judul-isu {
    max-width: 270px;
  }
  .isu-narasumber {
    max-width: 270px;
  }
}
</style>