<template>
  <div class="col-lg-3" id="testing" style="color: balck">
    <SentimentTokoh />
  </div>
</template>

<script>
import axios from "axios";
import SentimentTokoh from "../components/OnlineNews/SentimentTokoh.vue";

export default {
  name: "testing",
  components: {
    SentimentTokoh,
  },
  data() {
    return {
      data: null,
    };
  },
  mounted() {
    axios
      .get(
        "source/21/pivot/?orient=records&horizontal=arah_pemberitaan&vertical=tokoh_berita,tema_berita",
        {
          headers: {
            Authorization: "Token aedb45c5cbb932a89febc37729e6839390460aee",
          },
        }
      )
      .then((response) =>
        {  
          console.log(JSON.parse(response).map(o => ([o.Negatif, o.Netral, o.Positif])));
        }
      );
    // .then((response) => {
    //   console.log(
    //     Object.keys(response.data.data.index)
    //       .map((value) => {
    //         return response.data.data.index[value];
    //       })
    //       .slice(0, 5)
    //   );
    // });
  },
};
</script>