<template>
  <div class="tokoh">
    <div class="container-fluid py-5 px-4">
      <div class="d-flex justify-content-between mb-4">
        <h3 class="title flex-grow-1 text-start">Nama Topik</h3>
        <div class="d-flex justify-content-end align-items-center w-50">
          <button
            class="btn btn-sm background-purple text-white me-2 px-3"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Custom Topik
          </button>
          <form>
            <input
              @keyup="searchItems"
              @click="searchItems"
              id="search-items"
              v-model="search"
              class="form-control form-search border-0 me-2"
              type="search"
              placeholder="Cari Topik"
              aria-label="Search"
            />
          </form>
        </div>
      </div>

      <!-- Nama Tokoh:Start -->
      <div
        class="col-12"
        v-for="(Tokoh, index) in daftarTokoh"
        v-bind:key="index"
      >
        <router-link :to="'/detail-topik/' + Tokoh.judul" class="router">
          <div
            class="card mb-3 shadow"
            @click="setDetail(Tokoh.judul, Tokoh.total)"
          >
            <div class="row g-0 px-lg-4">
              <div class="col-lg-11 col-10 ps-lg-4 d-flex align-items-center">
                <div class="card-body text-start">
                  <div class="card-title">
                    <small class="fw-bold">Topik</small>
                    <h4 class="fw-bold mt-md-2 mt-auto">
                      {{ Tokoh.judul }}
                    </h4>
                  </div>
                  <!-- <div class="card-title">
                      <small class="fw-bold">Total</small>
                      <h4 class="fw-bold mt-md-2 mt-auto">
                        {{ Tokoh.total }} Kata
                      </h4>
                    </div> -->
                </div>
              </div>
              <div
                class="
                  col-lg-1 col-2
                  d-flex
                  align-items-center
                  justify-content-center
                "
              >
                <i class="fa fa-2x fa-chevron-right purple-color"></i>
              </div>
            </div>
          </div>
        </router-link>
      </div>
      <!-- Nama Tokoh:End -->
    </div>
    <paginate
      :total-data="totalPage"
      @set-rows="getRows"
      :current-row="form.page"
    />
    <div class="row"></div>
  </div>
  <router-view />

  <!-- Modal Static -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Custom Filter</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body text-start">
          <label for="">Cari Topik</label>
          <input
            type="text"
            v-model="form.name"
            @keyup.enter="cariCustom"
            placeholder="Wajib diisi!"
            class="form-control"
          />
          <div
            class="text-center fw-bolder mt-2 border-top"
            v-if="!form.custom"
          >
            Data tidak ditemukan
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            id="close-modal"
          >
            Tutup
          </button>
          <template v-if="!form.cari">
            <button type="button" class="btn btn-primary" @click="cariCustom">
              Cari
            </button>
          </template>
          <template v-else>
            <button class="btn btn-primary" type="button" disabled>
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Loading...
            </button>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, onMounted, ref, watch } from "vue";
import { useStore } from "vuex";
import Paginate from "@/components/Paginate.vue";
import { useRouter } from "vue-router";

export default {
  name: "Tokoh",
  components: { Paginate },
  setup() {
    const store = useStore();
    const router = useRouter();
    const daftarTokoh = computed(() => store.state.tokoh.daftarTokoh);
    const date = computed(() => store.state.date);

    const totalPage = computed(() => store.state.tokoh.totalPage);

    const form = ref({
      page: 1,
      start: date.value.start,
      end: date.value.end,
      name: "",
      custom: true,
      cari: false,
    });

    watch(date, () => {
      store.dispatch("getDaftarTokoh", form.value);
    });

    onMounted(() => {
      if (!date.value) {
        store.dispatch("getDaftarTokoh");
      } else {
        store.dispatch("getDaftarTokoh", form.value);
      }
    });

    const initData = ref([]);

    watch(daftarTokoh, () => {
      initData.value.splice(0, daftarTokoh.value.length, ...daftarTokoh.value);
      document.getElementById("search-items").click();
    });

    const searchItems = () => {
      daftarTokoh.value.splice(0, daftarTokoh.value.length, ...initData.value);
      if (search.value !== "") {
        let results = [];
        for (let j = 0; j < daftarTokoh.value.length; j++) {
          if (searchingFunc(daftarTokoh.value[j], search.value)) {
            results.push(daftarTokoh.value[j]);
          }
        }
        daftarTokoh.value.splice(0, daftarTokoh.value.length, ...results);
      }
    };

    const searchingFunc = (obj, value) => {
      for (let key in obj) {
        if (key !== "id") {
          if (!Number.isInteger(obj[key]) && !(typeof obj[key] === "object")) {
            if (obj[key].toLowerCase().indexOf(value.toLowerCase()) != -1) {
              return true;
            }
          }
        }
      }
      return false;
    };

    const getRows = (val) => {
      form.value.page = val;
      store.dispatch("getDaftarTokoh", form.value).then(() => {
        window.scrollTo({ top: 0, behavior: "smooth" });
      });
    };

    const search = ref("");

    const setDetail = (judul, total) => {
      store.commit("SET_JUDUL_TOKOH", judul);
      store.commit("SET_TOTAL_TOKOH", total);
    };

    const cariCustom = () => {
      if (form.value.name) {
        form.value.custom = true;
        form.value.cari = true;
        store
          .dispatch("getCustomTokoh", form.value)
          .then(() => {
            document.getElementById("close-modal").click();
            router.push({
              name: "Detail-Topik",
              params: { topik: form.value.name },
            });
            form.value.cari = false;
          })
          .catch(() => {
            form.value.custom = false;
            form.value.cari = false;
          });
      }
    };

    return {
      daftarTokoh,
      totalPage,
      searchItems,
      search,
      getRows,
      form,
      setDetail,
      cariCustom,
    };
  },
};
</script>

<style scoped>
.tokoh {
  font-family: "Poppins";
}

.card {
  border-radius: 15px;
  border: none;
}

form .form-search {
  background: #ffffff !important;
}

.img-tokoh {
  object-fit: cover;
  min-width: 140px;
  max-width: 140px;
  height: 165px;
  border-radius: 10px;
}

.box-number {
  margin: 0 10px 0 10px;
  border: rgb(179, 102, 255);
  border-style: solid;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-number-active {
  background: rgb(179, 102, 255);
  color: white;
}

.box-number p {
  margin: auto;
  font-weight: 600;
}

.page-link {
  cursor: pointer;
}

.page-item.disabled .page-link {
  background-color: lightgrey !important;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
    font-weight: 500 !important;
  }
  h4 {
    font-size: 17px;
  }
  .img-tokoh {
    min-width: 80px;
    max-width: 80px;
    height: 110px;
  }
}
</style>