<template>
  <div class="card" id="Isu">
    <div class="card-body text-start">
      <h6
        class="
          card-title
          row
          d-flex
          justify-content-between
          align-items-center
          mb-3
        "
      >
        <div class="col-8 subtitle">Isu di Media Online</div>
        <div class="col-3 d-flex justify-content-end">
          <router-link to="/isu">
            <i class="fa fa-long-arrow-right"></i>
          </router-link>
        </div>
      </h6>
      <div
        class="card-text ms-1 mt-3"
        v-for="(Isu, index) in isuOnline"
        :key="index"
      >
        <p class="nama-isu py-2 px-2 d-flex align-items-center text-truncate">
          <span
            class="background-blue me-2 px-2 text-light badge rounded-pill"
            >{{ index + 1 }}</span
          >
          {{ Isu.judul_berita }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { useStore } from "vuex";
import { computed, onMounted, ref, watch } from "vue";

export default {
  name: "Isu",
  setup() {
    const store = useStore();

    const isuOnline = ref("");

    const date = computed(() => store.state.date);

    watch(date, () => {
      getData();
    });

    onMounted(() => {
      getData();
    });

    const getData = () => {
      setTimeout(() => {
        axios
          .get(
            "https://dev.analytic.sanjari.dev/api/source/21/data/?orient=records&field=orientasi_berita,tema_berita,judul_berita,nama_media_online,is_politik_name,link_berita,narasumber_1,narasumber_2,narasumber_3,jabatan_narasumber_1,jabatan_narasumber_2,jabatan_narasumber_3,acurate_berita,arah_pemberitaan,timestamp,waktu_terbitnya_berita&field_search=orientasi_berita&values=Orientasi%20Isu&field_date=waktu_terbitnya_berita&start_date=" +
              date.value.start +
              "&end_date=" +
              date.value.end
          )
          .then((response) => {
            isuOnline.value = JSON.parse(response.data.data.source.data_source)
              .reverse()
              .slice(0, 5);
          });
      }, 100);
    };

    return {
      isuOnline,
    };
  },
};
</script>

<style scoped>
.nama-isu {
  background-color: #ddf2fe;
  border-radius: 10px;
}

.nama-isu span {
  width: 30px;
}
</style>