<template>
  <div class="card">
    <div class="card-body text-start px-4">
      <h6
        class="
          card-title
          row
          d-flex
          justify-content-between
          align-items-center
          mb-3
        "
      >
        <div class="d-flex justify-content-between aling-items-center">
          <div class="subtitle">
            Sentiment Tokoh <br />
            di Media Online
          </div>
          <div>
            <button
              class="btn btn-sm btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#chart3-model"
            >
              Pilih Params
            </button>
          </div>
          <div class="d-flex justify-content-end">
            <router-link
              to="/detail-page/sentimenttokoh"
              :class="['arrow-right']"
            >
              <i class="fa fa-long-arrow-right"></i>
            </router-link>
          </div>
        </div>
      </h6>

      <div class="card-text row d-flex align-items-center mt-3">
        <div class="container sentiment py-3">
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="false"
          >
            <div class="carousel-inner">
              <template v-if="newData">
                <template v-for="(item, i) in newData" :key="i">
                  <div class="carousel-item" :class="i == 0 ? 'active' : ''">
                    <div class="row ms-1">
                      <div class="col-12">
                        <p class="nama-tokoh mb-0 text-truncate">
                          {{ i + 1 }}. {{ item.tokoh }}
                        </p>
                      </div>
                      <div class="col-12 d-flex justify-content-center">
                        <apexchart
                          id="vuechart-sentiment"
                          width="270"
                          type="donut"
                          :options="options"
                          :series="series[i]"
                        ></apexchart>
                      </div>
                    </div>
                  </div>
                </template>
              </template>
            </div>
            <button
              class="carousel-control-prev btn-sentiment-left background-purple"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span aria-hidden="true">
                <i class="fa fa-chevron-left text-light"></i>
              </span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="
                carousel-control-next
                btn-sentiment-right
                background-purple
              "
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span aria-hidden="true">
                <i class="fa fa-chevron-right text-light"></i>
              </span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="chart3-model"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="
        modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable
      "
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pilih Parameter</h5>
          <button
            type="button"
            class="btn-close"
            id="close-modal-params3"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <template v-for="(item, i) in list" :key="i">
              <div class="col-md-6 text-start">
                <input
                  class="form-check-input"
                  type="radio"
                  name="params"
                  :checked="item == param"
                  @input="changeData(item)"
                  :value="item"
                />
                <label class="form-check-label ms-2">
                  {{ item.replaceAll("_", " ") }}
                </label>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();

    const options = ref({
      legend: {
        show: true,
      },
      dataLabels: {
        enabled: true,
      },
      plotOptions: {
        grid: {
          padding: {
            left: 0,
            right: 0,
          },
        },
        pie: {
          donut: {
            labels: {
              show: true,
              name: {
                show: true,
                labels: ["negatif", "positif", "netral"],
              },
              value: {
                show: true,
              },
            },
          },
        },
      },
      colors: ["#F45D5F", "#63E394", "#6478D3"],
      labels: ["Negatif", "Positif", "Netral"],
    });
    const series = ref([]);

    const data = computed(() => store.state.dashboard.dashboardSentiment);

    const newData = ref([]);

    const param = computed(() => store.state.chart3);
    const list = computed(() => store.state.listChart);

    watch(param, () => {
      store.dispatch("getDasboardSentiment", { limit: 5 });
    });

    watch(data, () => {
      loadData();
    });

    const loadData = () => {
      setTimeout(() => {
        series.value = [];
        data.value.total.slice(0, 5).map((item) => {
          series.value.push(Object.values(item));
        });
        newData.value = data.value.data.slice(0, 5);
      }, 100);
    };

    const changeData = (item) => {
      store.commit("SET_CHART_3", item);
      document.getElementById("close-modal-params3").click();
    };

    return {
      data,
      options,
      series,
      newData,
      param,
      list,
      changeData,
    };
  },
};
</script>

<style scoped>
.sentiment {
  border-radius: 20px;
  width: 95%;
  height: 185px;
  background: #ddf2ff;
}

.btn-sentiment-left {
  float: left;
  top: 35%;
  left: 1%;
  padding-right: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: white 3px;
  border-style: solid;
  box-shadow: 0 5px 5px grey;
}

.btn-sentiment-right {
  float: right;
  top: 35%;
  right: 1%;
  padding-left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: white 3px;
  border-style: solid;
  box-shadow: 0 5px 5px grey;
}

.btn-sentiment i {
  -webkit-text-stroke: 0.1px;
}
</style>