<template>
  <div class="card" id="StatementTokoh">
    <div class="card-body text-start px-4">
      <h6
        class="
          card-title
          row
          d-flex
          justify-content-between
          align-items-center
          mb-3
        "
      >
        <div class="d-flex justify-content-between aling-items-center">
          <div class="subtitle">
            Statement Topik <br />
            di Media Online
          </div>
          <div>
            <button
              class="btn btn-sm btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#chart1-model"
            >
              Pilih Params
            </button>
          </div>
          <div class="d-flex justify-content-end">
            <router-link
              to="/detail-page/statementtokoh"
              :class="['arrow-right']"
            >
              <i class="fa fa-long-arrow-right"></i>
            </router-link>
          </div>
        </div>
      </h6>

      <div>
        <apexchart
          id="chart"
          ref="chart1"
          type="bar"
          height="170"
          :options="chartOptions"
          :series="series"
        ></apexchart>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="chart1-model"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="
        modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable
      "
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pilih Parameter</h5>
          <button
            type="button"
            class="btn-close"
            id="close-modal-params1"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <template v-for="(item, i) in list" :key="i">
              <div class="col-md-6 text-start">
                <input
                  class="form-check-input"
                  type="radio"
                  name="params"
                  :checked="item == param"
                  @input="changeData(item)"
                  :value="item"
                />
                <label class="form-check-label ms-2">
                  {{ item.replaceAll("_", " ") }}
                </label>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ApexCharts from "apexcharts";
import { computed, ref, watch } from "vue";
import { useStore } from "vuex";

export default {
  setup() {
    const store = useStore();
    const param = computed(() => store.state.chart1);
    const list = computed(() => store.state.listChart);
    const chartOptions = ref({
      chart: {
        type: "bar",
        height: 170,
        id: "chart",
      },
      plotOptions: {
        bar: {
          borderRadius: 0,
          horizontal: true,
        },
      },
      dataLabels: {
        enabled: true,
      },
      xaxis: {
        categories: [],
      },
    });

    const data = computed(() => store.state.dashboard.dashboardStatement);    

    watch(param, () => {
      store.dispatch("getDasboardStatement", { limit: 5 });
    });

    watch(data, () => {
      let dummy = {
        label: [],
        data: [],
      };
      data.value.slice(0, 5).map((item) => {
        dummy.label.push(item.name);
        dummy.data.push(item.data);
      });
      ApexCharts.exec(
        "chart",
        "updateSeries",
        [
          {
            data: Object.values(dummy.data),
          },
        ],
        true
      );
      ApexCharts.exec("chart", "updateOptions", {
        xaxis: {
          categories: Object.values(dummy.label),
        },
      });
    });

    const series = ref([
      {
        name: "Total",
        data: [],
      },
    ]);

    const changeData = (item) => {
      store.commit("SET_CHART_1", item);
      document.getElementById("close-modal-params1").click();
    };

    return {
      chartOptions,
      series,
      data,
      param,
      list,
      changeData,
    };
  },
};
</script>