<template>
  <apexchart
    id="newspaper-news-chart"
    type="bar"
    height="300"
    :options="options"
    :series="series"
  >
  </apexchart>
</template>

<script>
export default {
  name: "NewspaperNewsBar",
  data: function () {
    return {
      options: {
        chart: {
          id: "newspaper-news-chart",
        },
        xaxis: {
          categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
        },
        colors: ["#F46865"],
        // width: 500
      },
      series: [
        {
          name: "series-1",
          data: [
            210, 110, 120, 200, 50, 230, 150, 230, 500, 80, 210, 200, 170, 90,
          ],
        },
      ],
    };
  },
};
</script>
