<template>
  <div class="row d-flex align-items-center">
    <div class="col-md-3">
      <i class="mb-3 fa fa-lg fa-circle blue-color ms-3 me-2"></i>
      <small class="mb-3 text-muted">33%</small> <br />
      <i class="mb-3 fa fa-lg fa-circle green-color ms-3 me-2"></i>
      <small class="mb-3 text-muted">22%</small> <br />
      <i class="mb-3 fa fa-lg fa-circle red-color ms-3 me-2"></i>
      <small class="mb-3 text-muted">45%</small> <br />
    </div>
    <div class="col-md-8">
      <apexchart
        id="news-sentiment-chart"
        type="donut"
        height="300"
        :options="options"
        :series="series"
      >
      </apexchart>
    </div>
  </div>
</template>

<script>
export default {
  name: "NewsSentimentDonut",
  data: function () {
    return {
      options: {
        legend: {
          show: false,
        },
        dataLabels: {
          enabled: false,
        },
        chart: {
          id: "news-sentiment-chart",
        },
        colors: ["#F46865", "#B473FC", "#63E394"],
        labels: ["Positif", "Negatif", "Netral"]
      },
      series: [44, 55, 41]
    };
  },
};
</script>
