<template>
  <apexchart
    id="news-sentiment-chart"
    type="line"
    height="300"
    :options="options"
    :series="series"
  >
  </apexchart>
</template>

<script>
export default {
  name: "NewsSentimentLine",
  data: function () {
    return {
      options: {
        chart: {
          id: "news-sentiment-chart",
        },
        xaxis: {
          categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
        },
        colors: ["#F46865", "#B473FC", "#63E394"],
      },
      series: [
        {
          name: "Positif",
          data: [
            50, 100, 180, 170, 90, 70, 30, 100, 170, 190, 120, 110, 30, 70,
          ],
        },
        {
          name: "Netral",
          data: [
            40, 70, 130, 90, 120, 80, 30, 80, 110, 80, 70, 80, 30, 40,
          ],
        },
        {
          name: "Negatif",
          data: [
            10, 30, 80, 80, 30, 20, 10, 70, 80, 90, 90, 80, 30, 32,
          ],
        },
      ],
    };
  },
};
</script>
