<template>
    <div class="main">
        
    </div>
</template>

<script>
import 'bootstrap/dist/css.bootstrap.css'

export default {
    name: 'Main',
}
</script>

<style>
.color-nav {
    background: gray;
}
</style>
