<template>
  <div class="card">
    <div class="card-body text-start px-4">
      <h6
        class="
          card-title
          row
          d-flex
          justify-content-between
          align-items-center
          mb-4
        "
      >
        <div class="col-8 text-start">5 Teratas</div>
        <div class="col-3 d-flex justify-content-end"></div>
      </h6>

      <div class="card-text row d-flex align-items-center mt-lg-5 mb-lg-3">
        <div class="col-6">
          <div class="row" v-for="Word in data" :key="Word">
            <p class="text-muted text-truncate">
              {{ Word }}
            </p>
          </div>
        </div>
        <div class="col-6">
          <div class="row" v-for="Value in total" :key="Value">
            <p class="fw-bold">{{ Value }} Words</p>
          </div>
        </div>
        <!-- <div class="col-6">
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      data: [],
      total: [],
    };
  },
  mounted() {
    axios
      .get(
        "https://dev.analytic.sanjari.dev/api/source/22/word-cloud/?orient=records&field=Tweet%20Text&filename=wordcloud-twitter.png&width=800&height=250",
        {
          headers: {
            Authorization: "Token aedb45c5cbb932a89febc37729e6839390460aee",
          },
        }
      )
      .then(
        (response) => (
          (this.data = Object.keys(response.data.data.counts).slice(0, 5)),
          (this.total = Object.keys(response.data.data.counts)
            .map((value) => {
              return response.data.data.counts[value];
            })
            .slice(0, 5))
        )
      );
    // .then((response) => {
    //   console.log(
    //     Object.keys(response.data.data.counts)
    //       .map((value) => {
    //         return response.data.data.counts[value];
    //       })
    //       .slice(0, 5)
    //   );
    //   console.log(Object.keys(response.data.data.counts).slice(0, 5));
    // });
  },
};
</script>