<template>
  <nav
    class="navbar navbar-expand-lg navbar-light justify-content-between px-lg-3"
  >
    <div class="container-fluid">
      <router-link to="/" :class="['router-header text-decoration-none']">
        <h3 class="fw-bold me-2 head-title mb-0">
          Analisa <span class="purple-color">Riset Media</span>
        </h3>
      </router-link>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-lg-auto my-3 my-lg-0 mb-lg-2">
          <li class="nav-item">
            <router-link
              to="/"
              :class="['router me-lg-5 h5 fw-bold mb-lg-auto']"
            >
              <i class="fa fa-home me-md-2"></i> Dashboard
            </router-link>
          </li>

          <li class="nav-item">
            <router-link
              to="/topik"
              :class="['router me-lg-5 h5 fw-bold mb-lg-auto']"
            >
              <i class="fa fa-user me-md-2"></i> Topik
            </router-link>
          </li>

          <li class="nav-item me-md-4">
            <router-link
              to="/isu"
              :class="[
                'router h5 fw-bold mb-lg-auto',
                $route.path.includes('/isu')
                  ? 'router-link-active router-link-exact-active'
                  : '',
              ]"
            >
              <i class="fa fa-newspaper-o me-md-2"></i> Isu
            </router-link>
          </li>
          <li class="nav-item ms-md-2">
            <button
              type="button"
              class="btn btn-sm background-purple text-light fw-bold"
              :class="date.change ? 'bg-primary' : ''"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Pilih Periode
            </button>

            <div
              class="modal fade"
              id="exampleModal"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Set Date</h5>
                    <button
                      type="button"
                      id="btn-close-date"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body row">
                    <div class="col-6">
                      <p class="text-start">Start Date</p>
                      <input
                        v-model="date.start"
                        type="date"
                        name=""
                        class="form-control form-control-sm"
                      />
                    </div>
                    <div class="col-6">
                      <p class="text-start">End Date</p>
                      <input
                        v-model="date.end"
                        type="date"
                        name=""
                        class="form-control form-control-sm"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn bg-warning text-light"
                      @click="resetDate"
                    >
                      Reset
                    </button>
                    <button
                      type="button"
                      class="btn background-purple text-light"
                      @click="setDate"
                    >
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- <li class="nav-item me-md-4" v-if="listMediaFile">
            <select @input="changeData" class="form-control ms-2">
              <option
                v-for="(item, i) in listMediaFile"
                :key="i"
                :value="item.id"
              >
                {{ item.name }}
              </option>
            </select>
          </li> -->
        </ul>
        <!-- <form class="d-flex border-bottom">
          <input
            class="form-control form-search border-0 me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn" type="submit">
            <i class="fa fa-lg fa-search"></i>
          </button>
        </form> -->
      </div>
    </div>
  </nav>
  <router-view />
</template>

<script>
import { computed, onMounted, ref } from "vue";
import { useStore } from "vuex";
export default {
  setup() {
    const store = useStore();
    const date = ref({
      start: "",
      end: "",
      change: false,
    });
    const mediaFile = computed(() => store.state.mediaFile);
    const listMediaFile = computed(() => store.state.listMediaFile);

    onMounted(() => {      
      document.title = "Web Analisa";
    });

    const setDate = () => {
      if (!date.value.start || !date.value.end) {
        alert("Please set start date & end date");
      } else {
        store.commit("SET_DATE", {
          start: date.value.start,
          end: date.value.end,
        });
        date.value.change = true;
        document.getElementById("btn-close-date").click();
      }
    };

    const resetDate = () => {
      store.commit("UNSET_DATE");
      date.value.change = false;
    };

    const changeData = (el) => {
      setTimeout(() => {
        store.commit("SET_MEDIA_FILE", el.target.value);
        store.dispatch("getListChart");
      }, 100);
    };

    return {
      date,
      setDate,
      resetDate,
      changeData,
      mediaFile,
      listMediaFile,
    };
  },
  head: {
    link: [
      {
        rel: "icon",
        href: require("./assets/logo-pancasila.png"),
      },
    ],
  },
};
</script>


<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #f4f8fc;
}

/* Color */
.purple-color {
  color: rgb(179, 102, 255);
}

.background-purple {
  background: rgb(179, 102, 255) !important;
}

.blue-color {
  color: rgb(100, 120, 211);
}

.background-blue {
  background: rgb(100, 120, 211);
}

.background-blue-2 {
  background: rgb(80, 137, 198);
}

.green-color {
  color: rgb(87, 226, 147);
}

.background-green {
  background: rgb(87, 226, 147);
}

.red-color {
  color: rgb(255, 96, 96);
}

.background-red {
  background: rgb(255, 96, 96);
}

.background-white {
  background: #ffff;
}
/* ============================== */

nav {
  background: white;
  font-family: "Poppins";
  min-height: 120px;
  box-shadow: 0 0 5px grey;
}

.router-header {
  color: inherit !important;
  border-bottom: none !important;
}

nav a.router-link-exact-active {
  color: rgb(179, 102, 255);
  border-bottom: solid;
  bottom: 50%;
  border-width: 4px;
}

nav a:hover {
  color: rgb(124, 98, 151);
}

input:hover,
input:active,
input:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.router {
  text-decoration: none;
  color: inherit;
}

.router:hover {
  color: rgb(179, 102, 255);
}

.title {
  font-weight: 600;
}

.badge-notify {
  background: red;
  position: relative;
  top: -20px;
  left: -35px;
}

.dropdown-toggle {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 576px) {
  nav {
    min-height: 70px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .head-title {
    font-size: 20px;
  }
  .router {
    font-size: 15px !important;
  }
  nav a.router-link-exact-active {
    border-bottom: none;
  }
  .nav-item {
    text-align: start;
  }
  .router > .fa {
    display: none;
  }
}
</style>
