<template>
  <div id="WordCloud">
    <img :src="data" alt="" srcset="" class="img-fluid"/>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "WordCloud",
  data() {
    return {
      data: null,
    };
  },
  mounted() {
    axios
      .get(
        "https://dev.analytic.sanjari.dev/api/source/21/word-cloud/?orient=records&field=judul_berita&filename=wordcloud-berita.png&width=900&height=250",
        {
          headers: {
            Authorization: "Token aedb45c5cbb932a89febc37729e6839390460aee",
          },
        }
      )
      .then((response) => (this.data = response.data.data.source));
      // .then(response => { console.log(response.data.data.index); }).catch(err => { console.log(err.response); });
  },
};
</script>
